Source: ros-galactic-sensor-msgs-py
Section: misc
Priority: optional
Maintainer: Michael Carroll <michael@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-galactic-ament-copyright, ros-galactic-ament-flake8, ros-galactic-ament-pep257, ros-galactic-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-sensor-msgs-py
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-galactic-sensor-msgs, ros-galactic-ros-workspace
Description: A package for easy creation and reading of PointCloud2 messages in Python.
